@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Questrial');
/* font-family: 'Questrial', sans-serif; */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    background-color: black;
    color: black;
}

#backgroundimage {
  background-image: url("../img/isaacmorrow.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  background-size: cover;
  z-index: -1;
  position: static;
  /* margin-bottom: 100vh; */
}

main {
  background-color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  color: black;
}

footer {
  bottom: 0;
  height: 50px;
  color: white;
  font-weight: bold;
  text-align: center;
  /* padding: 50px; */
  display: block;
}

nav {
    position: fixed;
    top: 0;
    left: -353px;
    transition-duration: 1s;
}

nav:hover {
  left: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    width: 100%;
}

nav ul li {
    color: white;
    display: inline;
    float: left;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 15px;
    cursor: pointer;
    transition-duration: 0.5s;
    display: block;
    border-bottom: 2px white solid;
    border-top: 2px white solid;
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.383);
}

nav ul li:last-child {
    border-right: 2px white solid;
}

h1 {
    font-size: 40px;
    padding-top: 20px;
}

.content {
    grid-template-columns: 1fr 3fr 1fr;
    display: inline-grid;
    /* padding: 15px; */
    font-size: 20px;
}

.content > * {
    grid-column: 2 / 3;
    /* float: left; */
    /* background-color: ; */
    /* background-color: rgb(39, 39, 39); */
    border-radius: 8px;
    /* color: white; */
    padding: 15px;
    text-align: justify;
}

p {
  /* font-family: '', sans-serif; */
  font-size: 20px;
  line-height: 1.4em;
  word-spacing: 0.2em;
  text-align: justify;
}

#resume-link {
  text-decoration: none;
  color: white;
  background-color: rgba(0, 128, 202, 0.5) !important;
  text-align: center;
  padding: 10px;
  border-radius: 8px;
  width: 100px;

}


/* This code will change the CSS depending on the size of the browser. Will change for mobile. */
@media screen and (max-width: 1200px) {
   nav {
      all: unset;
      position: fixed;
      top: 0;
      left: 0;
      transition-duration: 1s;
      height: 100vh;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.5);
    }

    nav ul {
      all: unset;
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 100%;
    }

    nav ul li {
      all: unset;
      color: white;
      /* display: block; */
      float: left;
    }

    nav ul li a {
      all: unset;
      color: white;
      text-decoration: none;
      padding: 15px;
      cursor: pointer;
      transition-duration: 0.5s;
      display: block;
      /* border-bottom: 2px white solid; */
      /* border-top: 2px white solid; */
    }

    nav ul li a:last-child {
      all: unset;
      display: hidden;
    }

    #chevron {
      all: unset;
      display: hidden;
    }

   .movenav {
     left: -500px;
     display: block;
     transition-duration: 1s;
   }

   #menu {
      right: 0;
      top: 0;
      height: 30px;
      position: fixed;
      padding: 10px;
      padding-top: 5px;
      padding-left: 15px;
      background-color: rgba(0, 0, 0, 0.5);
      /* border-left: 2px solid black; */
      /* border-bottom: 2px solid black; */
      border-bottom-left-radius: 6px;
      cursor: pointer;
   } 

   .line1, .line2, .line3 {
      width: 20px;
      height: 3px;
      margin: 6px 0;
      background-color: white;
      z-index: 2;
      transition: 0.4s;
    }


    /* Rotate first bar */
    .change .line1 {
      -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
      transform: rotate(-45deg) translate(-9px, 6px) ;
    }

    /* Fade out the second bar */
    .change .line2 {
      opacity: 0;
    }

    /* Rotate last bar */
    .change .line3 {
      -webkit-transform: rotate(45deg) translate(-10px, -0px) ;
      transform: rotate(45deg) translate(-8px, -8px) ;
    }

    h1 {
        font-size: 25px;
        padding: 15px;
    }

    h2 {
      font-size: 16px;
    }

    .content {
      grid-template-columns: none;
      /* display: inline-grid; */
      padding: 5px;
      padding-top: 0;
      font-size: 20px;
    }

    .content > * {
      /* grid-column: 2 / 3; */
      /* grid-template-columns: unset; */
      font-size: 15px;
      line-height: 1.4em;
      word-spacing: 0.2em;
      text-align: left;
    }


    #resume-link {
      text-decoration: none;
      color: white;
      background-color: rgba(0, 128, 202, 0.5) !important;
      text-align: center;
      padding: 10px;
      border-radius: 8px;
      width: 100px;
    }

  


}
