@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Questrial');
/* font-family: 'Questrial', sans-serif; */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    background-color: black;
    color: black;
}

main {
  background-color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  color: black;
}

footer {
  bottom: 0;
  height: 50px;
  color: white;
  font-weight: bold;
  text-align: center;
  display: block;
}

/* Background image */
#backgroundimage {
  background-image: url("../img/isaacmorrow.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  background-size: cover;
  z-index: -1;
  position: static;
  transition-duration: 1s;
}

/* Navigation bar on background*/
nav {
    position: fixed;
    top: 0;
    left: 0;
    transition-duration: 1s;
    /* border-top: 2px white solid; */
    border-bottom: 1px white solid;
    width: 100%;
    background-color: rgb(255, 245, 227, 0.15);
}

nav:hover {
  left: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    width: 100%;
}

nav ul li {
    color: white;
    display: inline;
    float: left;
}

.nav-link {
    color: white;
    text-decoration: none;
    padding: 15px;
    cursor: pointer;
    transition-duration: 0.5s;
    display: block;
    transition-duration: 0.5s;
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.383);
}

/* Add to navbar when over the about section. */
.nav-link-new {
    all: unset;
    color: black;
    text-decoration: none;
    padding: 15px;
    cursor: pointer;
    transition-duration: 0.5s;
    display: block;
}

.navbar-new {
  background-color: white;
  transition-duration: 0.5s;
  box-shadow: 0px 2px 20px grey;

}

.nav-link-new:hover {
  background-color: #7fbfe4;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

h1 {
    font-size: 40px;
    padding-top: 50px;
    margin: 0 auto;
}

.content {
    font-size: 20px;
    margin: 0 25%;
    border-radius: 8px;
    padding: 15px;
    text-align: justify;
}

p {
  font-size: 20px;
  line-height: 1.4em;
  word-spacing: 0.2em;
  text-align: justify;
}

#resume-link {
  text-decoration: none;
  color: white;
  background-color: rgba(0, 128, 202, 0.5);
  text-align: center;
  padding: 10px;
  border-radius: 8px;
  width: 10vw;
  display: block;
  margin: 0px auto;
  transition-duration: 0.6s;
}

#resume-link:hover {
  background-color: rgba(0, 128, 202, 0.8);

}

#projects {
  /* margin: 0 25%; */
}

.project {
  background-color: rgba(0, 0, 0, 0.4);
  transition-duration: 0.5s;
  border-radius: 8px;
  /* display: inline-block; */
}


.project p {
  padding: 15px;
}

.project:hover {
  transform: translateY(-10px);
  box-shadow: 10px 10px rgba(125, 125, 125, 0.7);
}
