@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Questrial');
/* font-family: 'Questrial', sans-serif; */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    background-color: black;
    color: black;
}

#backgroundimage {
  background-image: url("../img/img_small/isaacmorrow.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  background-size: cover;
  z-index: -1;
  position: static;
  transition-duration: 1s;
}

#resume-link {
  text-decoration: none;
  width: 100%;
  text-align: center;
}

main {
  background-color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  color: black;
}

footer {
  bottom: 0;
  height: 50px;
  color: white;
  font-weight: bold;
  text-align: center;
  /* padding: 50px; */
  display: block;
}



nav {
  position: fixed;
  transition-duration: 1s;
  height: 100vh;
  width: 100%;
  left: -100%;
  background-color: rgba(0, 0, 0, 0.4);
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* transition-duration: 1s; */
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: white;
  /* transition-duration: 1s; */
  padding: 30px;
  text-align: center;
  border-bottom: 2px solid white;
  font-size: 20px;
  cursor: pointer;
}

#chevron {
  visibility: hidden !important;
}

/* Blurs the background image when navbar opened. */
/* .blur {
  -webkit-filter: blur(3px);
  transition-duration: 1s;
  z-index: -1;
} */

/* Moves the navigation bar. Slides out from the left. */
.movenav {
 left: 0;
 transition-duration: 1s;
}

/* burger menu */
#menu {
  right: 0;
  top: 0;
  height: 30px;
  position: fixed;
  padding: 10px;
  padding-top: 5px;
  padding-left: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  /* border-left: 2px solid black; */
  /* border-bottom: 2px solid black; */
  border-bottom-left-radius: 6px;
  cursor: pointer;
}

.line1, .line2, .line3 {
  width: 20px;
  height: 3px;
  margin: 6px 0;
  background-color: white;
  z-index: 2;
  transition: 0.4s;
}


/* Rotate first bar */
.change .line1 {
  -webkit-transform: rotate(-45deg) translate(-10px, 3rpx) ;
  transform: rotate(-45deg) translate(-10px, 3px) ;
}

/* Fade out the second bar */
.change .line2 {
  opacity: 0;
}

/* Rotate last bar */
.change .line3 {
  -webkit-transform: rotate(45deg) translate(-10px, 3px) ;
  transform: rotate(45deg) translate(-10px, -3px) ;
}

/* Headers */
h1 {
    font-size: 25px;
    padding: 15px;
}

h2 {
  font-size: 16px;
}

/* Creates the padding and stuff for the content */
.content {
  padding: 5px;
  padding-top: 0;
  font-size: 20px;
}

/* Applies styling to everything in .content */
.content > * {
  font-size: 15px;
  line-height: 1.4em;
  word-spacing: 0.2em;
  text-align: left;
}

/* DELETE THIS LATER */
#projects {
  display: none;
}
