@import url('https://fonts.googleapis.com/css?family=Poppins');

/*
Primary Color: #4fc3f7 (Blue)
Secondary Color: #009688 (Ocean green)
  */

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-family: "Poppins"
}

body {
  font-family: 'Poppins', "Lato", sans-serif;
}

.pointer {
  cursor: pointer;
}


#navbar-containing-list {
  background-color: rgba(0, 0, 0, 0.7);
  /* background-color: #009688; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  list-style-type: none;
  box-shadow: 5px 0px #888888;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  z-index: 100;
}

li, .pointer {
  float: left;
}

li a {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 15px;
  transition-duration: 0.5s;
}

li a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 45px;
  margin: 10px;
}

.content {

  /* margin: 0 auto; */
  /* border: 1px solid red; */

  font-family: "Lato", sans-serif;
  padding: 15px;
  /* align-items: center; */
  text-align: left;
  font-size: 20px;
  /* margin-right: 15%; */
  /* margin-left: 15% */
  width: 65%;
  float: left;
}

#home {
  /* border: 1px solid red; */

  font-family: "Lato", sans-serif;
  /* align-items: center; */
  text-align: left;
  font-size: 20px;
  width: 100%;
  border-radius: 15px;
  /* border: 2px solid red; */
  background-color: white;
  margin-top: -15px;
}

#newsletter {
  width: 500px;
  background-color: white;
  box-shadow: 5px 10px #888888;
  position: absolute;
  z-index: 1;
  top: 100px;
  border-radius: 4px;
  padding: 15px;
  text-align: center;
  top: 50%;
  right: 50%;
  display: none;
  left: -1000px;
}


#background-image-left {
  z-index: -100;
  /* max-height: 100%; */
  max-width: 100%;
  background-image: url("../img/campbell_river.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  left: 0;
}

#content-left {
  position: absolute;
  left: 5%;
  top: 50%;
  width: 500px;
}

#circle-image {
  position: absolute;
  bottom: 0;
  top: 0;
  margin: auto;
  width: 60vh;
  height: 60vh;
  right: 20%;
  border-radius: 50%;
  border: 4px solid red;
  background-image: url("../img/teenagers.jpg");
  overflow: hidden;
  background-size: cover;
}

#events {
  margin-top: 30px;
  width: 30%;
  float: right;
  border-left: 2px solid black;
  padding: 10px;
}

#button-container {
  position: absolute;
  left: 5%;
  top: 75%;
}

.large_button {
  padding: 15px 100px;
  border-radius: 50px;
  /* border: 2px solid blue; */
  text-decoration-style: none;
  color: white;
  margin-right: 10px;
  margin-top: 20px;
  background-color: #4fc3f7;
  text-decoration: none;
  transition-duration: 0.5s;
}

.large_button:hover {
  transform: translateX(100px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.6);
}

.title {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 25px 30px;
  border-radius: 8px;
  color: white;
}

.border {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 15px;
  border-radius: 2px;
}

.table-image {
  width: 240px;
  height: 240px;
  z-index: -3;
  color: white;
  background-image: url("../img/original_image.jpg")
}

td {
  font-size: 10px;
  color: white;
}

/* footer {
  text-align: center;
} */

#logo {
  background-image: url("../img/bad_logo_god_what_is_wrong_with_me.png");
  top: 20%;
  right: 10%;
  bottom: 0;
  margin: auto;
  width: 60vh;
  height: 60vh;
  position: absolute;
  /* border: 2px solid red; */
  background-size: cover;


}
