@import url('https://fonts.googleapis.com/css?family=Poppins');

/*
Primary Color: #4fc3f7 (Blue)
Secondary Color: #009688 (Ocean green)
  */

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-family: "Poppins";
}

body {
  font-family: 'Poppins', "Lato", sans-serif;
}

.pointer {
  cursor: pointer;
}


#navbar-containing-list {
  /* background-color: rgba(0, 0, 0, 0.6); */
  background-color: #37474f;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  list-style-type: none;
  box-shadow: 5px 0px #888888;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  z-index: 100;
}

li, .pointer {
  float: left;
}

li a {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 15px;
  transition-duration: 0.5s;
}

li a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 45px;
  margin: 10px;
}

#background-image, body {
  z-index: -100;
  /* max-height: 100%; */
  max-width: 100%;
  background-image: url("../img/campbell_river.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  left: 0;
  /* position: fixed; */
}


#list {
  position: absolute;
  top: 10px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
}

.w3-quarter {
  color: white;
}

.w3-quarter p {
  padding: 10px;
}

#circle-image {
  position: absolute;
  bottom: 0;
  top: 0;
  margin: auto;
  width: 60vh;
  height: 60vh;
  right: 20%;
  border-radius: 50%;
  border: 4px solid red;
  background-image: url("../img/teenagers.jpg");
  overflow: hidden;
  background-size: cover;
}
